<div class="searchResults">
  {{#each songs}}
    <div class="searchResult withPhoto" data-songId="{{songId}}">
      <div class="order">
      {{#if @index}}
        {{@index}}.
      {{else}}
        <i class="icon-play"></i>
      {{/if}}
    </div>
    <div class="voting">
      <a data-song-id="{{songId}}" href="#" class="up"><i class="icon-up"></i></a>
      <a data-song-id="{{songId}}" href="#" class="down"><i class="icon-down"></i></a>
    </div>
    <div class="userPhoto ttip" data-tooltip="Added by {{user.name}}">
      <img src="{{user.picture}}" alt="{{user.name}}" />
    </div>
      <h2>{{songName}}</h2>
      <h3>{{artist}} &bull; {{albumName}}</h3>
    </div>
  {{/each}}
</div>
