<div class="searchResults">
  {{#each songs}}
    <div class="searchResult" data-songId="{{songId}}">
      <img src="{{user.picture}}" alt="{{user.name}}" />
      <h2>{{songName}}</h2>
      <h3>{{artist}} &bull; {{albumName}}</h3>
    </div>
  {{/each}}
</div>